[submodule "sublimetext"]
	path = sublimetext
	url = https://github.com/wyderkat/css-on-diet--sublime-text.git
[submodule "grunt"]
	path = grunt
	url = https://github.com/wyderkat/css-on-diet--grunt.git
[submodule "vim-cod"]
	path = vim-cod
	url = https://github.com/wyderkat/vim-cod.git
