[submodule "sublimetext"]
	path = sublimetext
	url = https://github.com/wyderkat/css-on-diet--sublime-text.git
[submodule "grunt-cssondiet"]
	path = grunt-cssondiet
	url = https://github.com/wyderkat/css-on-diet--grunt.git
